<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Visualise AVL Tree</title>
    <link rel="stylesheet" href="static/visualize.css">

    <style>
        
        .button3 {border-radius: 9px;}
        button:hover {
        background-color: #002C30;
}
    </style>
    </head>
    <body>

          <!--THE SIDE NAV BAR FOR THE SITE-->
<div class="sidenav">
    <div class="underlinepink">
        <h3 style="color: #002C30;"><strong><em>Operations:</em></strong> </h3>
        <!--<h3>OPERATIONS</h3>-->
    </div>

    <form action="" method="post">
        <label><h6 style="color: #002C30;">Enter element(s) here:</h6></label>
        <!--<h6 style="color: #f25287;">(sepated by a space)</h6>-->
        <input type="text">
    </form>
    <br>
    <a href="#"><button type="button" class="btn btn-default">Create</button></a>
    <a href="#"><button type="button" class="btn btn-default">Insert</button></a>
    <a href="#"><button type="button" class="btn btn-default" >Delete</button></a>
    <a href="#"><button type="button" class="btn btn-default" >Search</button></a>
    <!--<a href="#" onclick="return show('Insert');">Insert</a>-->
    <!--<a href="#"><button onclick="myFunction()" >Insert</button></a>
    <a href="#"onclick="return show('Delete');">Delete</a>
    <a href="#" onclick="return show('Search');">Search</a>-->
    <br/><br/><br/><br/>
    <br>
    <a href={{url_for('home')}}><button type="button" class="btn btn-default" style="background-color: #f25287;">Back</button></a>
  </div>


  

<div class="main">
    
    <div class="inlinewithbgcolor"> 
            <h2 style="color: #0d7377;"><strong><em>Visualise your AVL Tree!</em></strong></h2>

    <!--<div class="centrepink">
        <p>Insert</p>
    </div>-->
    </div>

    <div class="third">


    </div>
  


 

  
    </div>

  
   
   





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    </body>
    </html>